@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Roboto:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  padding-top: 5%;
  font-family: "Nanum Gothic", sans-serif;
  color: #373640;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

@media screen and (max-width: 900px) {
  .body {
    padding-top: 20%;
  }
}

.dark {
  background-color: black;
  color: blanchedalmond;
}

.dark .content {
  background-color: black;
  color: blanchedalmond;
}

.title {
  font-size: 3em;
}

.subtitle {
  font-size: 2em;
}

.switch {
  background: #373640;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  float: right;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #b6f7c1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.active {
  background: orange;
  color: black;
}

.active::after {
  right: 0;
  left: unset;
}

.span--switch {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #ddffe3;
}

.container-logo {
  display: inline-block;
  margin-right: 1em;
}

.container-logo__link--logo {
  vertical-align: top;
  height: 40px;
}

.container-logo__btn-menu {
  display: none;
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.container-link {
  display: inline-block;
  text-align: right;
}

.container-link__link {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1em;
  text-align: center;
  font-size: small;
}

.container-link__link:hover {
  background: #7e97a6;
  color: #373640;
}

.container-img-perfil {
  width: 100%;
  text-align: end;
  position: relative;
}

.container-img-perfil .img-perfil {
  width: 100%;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1em;
}

.carrousel {
  width: 100%;
  margin-left: 30%;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  position: relative;
}

.container-carrousel {
  width: 40%;
  position: absolute;
  -webkit-animation: rotacion 20s infinite linear;
          animation: rotacion 20s infinite linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container-carrousel:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  cursor: pointer;
}

.container-carrousel__figure {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: absolute;
}

.container-carrousel__figure:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(400px);
          transform: rotateY(0deg) translateZ(400px);
}

.container-carrousel__figure:nth-child(2) {
  -webkit-transform: rotateY(40deg) translateZ(400px);
          transform: rotateY(40deg) translateZ(400px);
}

.container-carrousel__figure:nth-child(3) {
  -webkit-transform: rotateY(80deg) translateZ(400px);
          transform: rotateY(80deg) translateZ(400px);
}

.container-carrousel__figure:nth-child(4) {
  -webkit-transform: rotateY(120deg) translateZ(400px);
          transform: rotateY(120deg) translateZ(400px);
}

.container-carrousel__figure:nth-child(5) {
  -webkit-transform: rotateY(160deg) translateZ(400px);
          transform: rotateY(160deg) translateZ(400px);
}

.container-carrousel__figure:nth-child(6) {
  -webkit-transform: rotateY(200deg) translateZ(400px);
          transform: rotateY(200deg) translateZ(400px);
}

.container-carrousel__figure:nth-child(7) {
  -webkit-transform: rotateY(240deg) translateZ(400px);
          transform: rotateY(240deg) translateZ(400px);
}

.container-carrousel__figure:nth-child(8) {
  -webkit-transform: rotateY(280deg) translateZ(400px);
          transform: rotateY(280deg) translateZ(400px);
}

.container-carrousel__figure:nth-child(9) {
  -webkit-transform: rotateY(320deg) translateZ(400px);
          transform: rotateY(320deg) translateZ(400px);
}

.container-carrousel__figure:nth-child(10) {
  -webkit-transform: rotateY(360deg) translateZ(400px);
          transform: rotateY(360deg) translateZ(400px);
}

.container-carrousel__img {
  width: 50%;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.container-carrousel__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

@-webkit-keyframes rotacion {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotacion {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@media screen and (max-width: 900px) {
  .container-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 1em;
  }
  .container-logo__btn-menu {
    display: inline-block;
  }
  .container-link {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .carrousel {
    width: 50%;
  }
  .container-carrousel {
    width: 50%;
  }
  .container-carrousel__figure {
    width: 100%;
  }
  .container-carrousel__figure:nth-child(1) {
    -webkit-transform: rotateY(0deg) translateZ(125px);
            transform: rotateY(0deg) translateZ(125px);
  }
  .container-carrousel__figure:nth-child(2) {
    -webkit-transform: rotateY(40deg) translateZ(125px);
            transform: rotateY(40deg) translateZ(125px);
  }
  .container-carrousel__figure:nth-child(3) {
    -webkit-transform: rotateY(80deg) translateZ(125px);
            transform: rotateY(80deg) translateZ(125px);
  }
  .container-carrousel__figure:nth-child(4) {
    -webkit-transform: rotateY(120deg) translateZ(125px);
            transform: rotateY(120deg) translateZ(125px);
  }
  .container-carrousel__figure:nth-child(5) {
    -webkit-transform: rotateY(160deg) translateZ(125px);
            transform: rotateY(160deg) translateZ(125px);
  }
  .container-carrousel__figure:nth-child(6) {
    -webkit-transform: rotateY(200deg) translateZ(125px);
            transform: rotateY(200deg) translateZ(125px);
  }
  .container-carrousel__figure:nth-child(7) {
    -webkit-transform: rotateY(240deg) translateZ(125px);
            transform: rotateY(240deg) translateZ(125px);
  }
  .container-carrousel__figure:nth-child(8) {
    -webkit-transform: rotateY(280deg) translateZ(125px);
            transform: rotateY(280deg) translateZ(125px);
  }
  .container-carrousel__figure:nth-child(9) {
    -webkit-transform: rotateY(320deg) translateZ(125px);
            transform: rotateY(320deg) translateZ(125px);
  }
  .container-carrousel__figure:nth-child(10) {
    -webkit-transform: rotateY(360deg) translateZ(125px);
            transform: rotateY(360deg) translateZ(125px);
  }
  .container-carrousel__img {
    width: 100%;
  }
}

.content {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.section__about {
  width: auto;
}

.section__academic {
  width: auto;
}

.section__experience {
  width: auto;
}

.section__projects {
  width: auto;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.section__projects--aeusp {
  margin-bottom: 30%;
}

.section__projects--softcolitas {
  margin-bottom: 30%;
}

.section__projects--monso {
  margin-bottom: 30%;
}

.section__projects--findCode {
  margin-bottom: 30%;
}

.section__projects--acceso {
  margin-bottom: 10%;
}

.section__skills {
  margin-top: 20%;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.section__skills--personal {
  margin-left: 8%;
}

.section__skills--knowledge {
  margin-left: 8%;
}

.section__contact {
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.section__contact--facebook {
  margin: 10% 5%;
}

.section__contact--instagram {
  margin: 10% 5%;
}

.section__contact--linkedin {
  margin: 10% 5%;
}

.section__contact--whatsapp {
  margin: 10% 5%;
}

.list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__item {
  margin-left: 5%;
}

.list__item--sublist {
  margin-left: 10%;
}

.list__item--sublist:hover {
  color: #35e026;
}

.img {
  margin-left: 10%;
}

.img--facebook {
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.img--facebook:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.img--instagram {
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.img--instagram:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.img--linkedin {
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.img--linkedin:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.img--whatsapp {
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.img--whatsapp:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.right-content, .left-content {
  float: left;
  display: block;
  width: 40%;
  padding: 1% 2%;
}

.left-content {
  border-right: 3px dotted #7e97a6;
  text-align: right;
}

.paragraph--timeline {
  margin: 150px 0 0;
}

.right-content .paragraph--timeline {
  margin: 80px 0 150px;
}

.paragraph--timeline {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.left-content .more-padding {
  padding-right: 100px;
}

.right-content .more-padding {
  padding-left: 100px;
}

h3 {
  text-align: center;
  margin-bottom: 5%;
}

@media screen and (max-width: 600px) {
  .section__contact {
    width: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section__contact--facebook {
    margin: 15% 5%;
  }
  .section__contact--instagram {
    margin: 15% 5%;
  }
  .section__contact--linkedin {
    margin: 15% 5%;
  }
  .section__contact--whatsapp {
    margin: 15% 5%;
  }
  .img--facebook {
    width: 30%;
  }
  .img--instagram {
    width: 30%;
  }
  .img--linkedin {
    width: 30%;
  }
  .img--whatsapp {
    width: 30%;
  }
}

.footer {
  text-align: center;
}

.header {
  background: #373640;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headroom {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media screen and (max-width: 900px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */