.switch{
    background:#373640;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    float: right;
    &::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #b6f7c1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    }
}

.active{
    background: orange;
    color: black;
    &::after{
        right: 0;
        left: unset;
    }
}

.span--switch{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #ddffe3;
}

.container-logo {
    display: inline-block;
    margin-right: 1em;
    &__link{
        &--logo{
            vertical-align: top;
            height: 40px;
        }
    }
    &__btn-menu{
        display: none;
        color: white;
        text-decoration: none;
        font-size: 1em;
    }
}

.container-link{
    display: inline-block;
    text-align: right;
    &__link{
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 1em;
        text-align: center;
        font-size: small;
        &:hover{
            background: #7e97a6;
            color: #373640;
        }
    }
}

.paragraph{
    font-family: $roboto;
    margin-bottom: 1em;
}
.carrousel{
    width: 100%;
    margin-left: 30%;
    perspective: 2000px;
    position: relative;
}

.container-carrousel{
    width: 50%;
    position: absolute;
    animation: rotacion 20s infinite linear;
    transform-style: preserve-3d;
    &:hover{
        animation-play-state: paused;
        cursor: pointer;
    }
    &__figure{
        width: 100%;
        height: 120px;
        overflow: hidden;
        position: absolute;
        &:nth-child(1){
            transform: rotateY(0deg) translateZ(300px);
        }
        &:nth-child(2){
            transform: rotateY(40deg) translateZ(300px);
        }
        &:nth-child(3){
            transform: rotateY(80deg) translateZ(300px);
        }
        &:nth-child(4){
            transform: rotateY(120deg) translateZ(300px);
        }
        &:nth-child(5){
            transform: rotateY(160deg) translateZ(300px);
        }
        &:nth-child(6){
            transform: rotateY(200deg) translateZ(300px);
        }
        &:nth-child(7){
            transform: rotateY(240deg) translateZ(300px);
        }
        &:nth-child(8){
            transform: rotateY(280deg) translateZ(300px);
        }
        &:nth-child(9){
            transform: rotateY(320deg) translateZ(300px);
        }
        &:nth-child(10){
            transform: rotateY(360deg) translateZ(300px);
        }
    }
    &__img{
        width: 50%;
        transition: all 2s;
        &:hover{
            transform: scale(1.1);
            transition: all 1s;
        }
    }
}
@keyframes rotacion{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

@media screen and (max-width: 900px){
    .container-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 1em;
        &__btn-menu{
            display: inline-block;
        }
    }

    .container-link{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}