.content{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
    transition: .3s ease all;
}

.section{
  &__about{
    width: auto;
  }
  &__academic{
    width: auto;
  }
  &__experience{
    width: auto;
  }
  &__projects{
    width: auto;
    font-family: $roboto;
    font-weight: bolder;
    &--aeusp{
      margin-bottom: 30%;
    }
    &--softcolitas{
      margin-bottom: 30%;
    }
    &--monso{
      margin-bottom: 10%;
    }
  }
  &__skills{
    margin-top: 20%;
    width: auto;
    font-family: $roboto;
    font-weight: bolder;
    &--personal{
      margin-left: 8%;
    }
    &--knowledge{
      margin-left: 8%;
    }
  }
  &__contact{
    width: auto;
    display: inline-flex;
    &--facebook{
      margin: 10% 5%;
    }
    &--instagram{
      margin: 10% 5%;
    }
    &--linkedin{
      margin: 10% 5%;
    }
    &--whatsapp{
      margin: 10% 5%;
    }
  }
}
.list{
  align-items: center;
  &__item{
    margin-left: 5%;
    &--sublist{
      margin-left: 10%;
      &:hover{
        color: #35e026;
      }
    }
  }
}
.img{
  margin-left: 10%;
  &--facebook{
    width: 100%;
    transition: all .5s;
    &:hover{
      transform: scale(1.2);
      
    }
  }
  &--instagram{
    width: 100%;
    transition: all .5s;
    &:hover{
      transform: scale(1.2);
    }
  }
  &--linkedin{
    width: 100%;
    transition: all .5s;
    &:hover{
      transform: scale(1.2);
    }
  }
  &--whatsapp{
    width: 100%;
    transition: all .5s;
    &:hover{
      transform: scale(1.2);
    }
  }
}
//timeline
.right-content, .left-content {
	float:left;
	display:block;
	width:40%;
	padding:1% 2%;
}
.left-content {
	border-right:3px dotted #7e97a6;	
	text-align:right;
}
.paragraph--timeline {
	margin:150px 0 0;
}
.right-content .paragraph--timeline {
	margin:80px 0 150px;
}
.paragraph--timeline {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;	
}
.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}

h3{
  text-align: center;
  margin-bottom: 5%;
}

@media screen and (max-width: 600px){
  .section{
    &__contact{
      width: auto;
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      &--facebook{
        margin: 15% 5%;
      }
      &--instagram{
        margin: 15% 5%;
      }
      &--linkedin{
        margin: 15% 5%;
      }
      &--whatsapp{
        margin: 15% 5%;
      }
    }
  }
  .img{
    &--facebook{
      width: 30%;
    }
    &--instagram{
      width: 30%;
    }
    &--linkedin{
      width: 30%;
    }
    &--whatsapp{
      width: 30%;
    }
  }
}